* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body p,
body a {
    font-size: 1.5rem;
}

/* Variabels */

:root {
    --main-color: #C42021;
    --main-text-color: #141414;
    --border-color: #C42021;
    --bio-bg-color: #EBEBEB;
    --bio-border-color: #C42021;
    --about-bg-color: #f0f7ee;
}

/* General */

.highlight {
    color: var(--main-color);
}

/* Containers */

#container {
    display: flex;
    color: var(--main-text-color);
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background: var(--bio-bg-color);
    text-align: center;
    padding: 3rem 1.2rem;
    border-right: 5px solid var(--bio-border-color);
}

#image-container {
    margin: auto;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-bottom: 3rem;
    background: #f0f7ee;
}

#bio-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

#about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background: var(--about-bg-color);
    padding: 0 5rem;
}

/* Bio container */

#bio-container h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

#welcome-text {
    font-weight: bold;
    font-size: 1.8rem;
}

#bio-container p {
    margin-bottom: 2rem;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--border-color);
}

#social-container li {
    flex: 1 1 0;
    max-width: 6rem;
}

#social-container li a {
    color: var(--main-color);
    font-size: 3rem;
}

#email-container {
    display: flex;
    justify-content: center;
}

#email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 22.5rem;
}

#email-container ion-icon {
    color: var(--main-color);
    font-size: 2rem;
    margin-right: .5rem;
    max-width: 2rem;
}

/* About container */

#menu {
    width: 100%;
    margin-bottom: 5rem;
}

/* Mobile menu */

.mobile-menu {
    display: none;
}

.mobile-menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.mobile-menu-icon:hover {
    background: #c4202027;
    border-radius: 5rem;
}

.mobile-menu-icon:before {
    content: '';
    position: absolute;
    transition: 0.3s;
    transform: translateY(-7px);
    box-shadow: 0 7px 0 var(--main-color);
    width: 35px;
    height: 3px;
    background: var(--main-color);
}

.mobile-menu-icon:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background: var(--main-color);
    transform: translateY(7px);
}

.mobile-menu-icon.active {
    border-radius: 1rem 0 0 1rem;
    background: #c420202c;
    cursor: pointer;
    transition: .2s;
}

.mobile-menu-icon.active:before,
.mobile-menu-icon.active:after {
    width: 35px;
}

.mobile-menu-icon.active:before {
    box-shadow: none;
    transform: rotate(45deg);

}

.mobile-menu-icon.active:after {
    transform: rotate(-45deg);
}

.buttons-container {
    display: none;
}

.buttons-container.active {
    display: flex;
    flex-direction: column;
    background: #c420202c;
    width: 20rem;
    height: 10rem;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 1rem 0;
    border-radius: 0 2rem 2rem 2rem;
    margin: -5rem 0 0 5rem;
}


.buttons-container button {
    position: relative;
    width: 12rem;
    height: 4rem;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}

.buttons-container button.home.active {
    box-shadow: 0px 4px 0px var(--main-color);
}

.buttons-container button.projects.active {
    box-shadow: 0px 4px 0px var(--main-color);
}


/* Desktop menu */

.desktop-menu {
    width: 100%;
    text-align: center;
}

.menu-btn {
    position: relative;
    width: 12rem;
    height: 5rem;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}

.menu-btn.home.active:after {
    content: '';
    width: 80%;
    height: 4px;
    background: var(--main-color);
    position: absolute;
    transform: translateY(2rem) translateX(-7rem);
}

.menu-btn.projects.active:after {
    content: '';
    width: 100%;
    height: 4px;
    background: var(--main-color);
    position: absolute;
    transform: translateY(2rem) translateX(-11.1rem);
}


.menu-btn:hover {
    background: #c4202025;
    border-radius: .5rem;
}

#name {
    font-size: 4.2rem;
    margin-bottom: 1.5rem;
}

#title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.description {
    max-width: 75%;
    margin-bottom: 1rem;
}

#btn-github {
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--main-text-color);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: .5rem;
    text-decoration: none;
    transition: .5s;
    margin: 3.85rem 0;
    padding: 1.2rem 1rem;
    width: 15rem;
    text-align: center;
}

#btn-github i,
#btn-github span {
    flex: 1 1 0;
}

#btn-github i {
    font-size: 2rem;
    max-width: 2rem;
}

#btn-github:hover {
    background: transparent;
}

#skills-section-title {
    border-top: 1px solid var(--border-color);
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

.skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 2.5rem;
}

.skills-title {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    font-size: bold;
    padding-left: 1rem;
    border-left: 5px solid var(--main-color);
}

.skills-box i {
    font-size: 4.5rem;
    margin-right: 1rem;
}

#language-skills,
#projects-list {
    list-style-type: none;
    padding: 0;
}

#language-skills li,
#projects-list li {
    font-size: 1.8rem;
    position: relative;
    padding-left: 1.5rem;
}

#language-skills li:before,
#projects-list li:before {
    content: "\2022";
    line-height: 2.5rem;
    position: absolute;
    font-size: 2.6rem;
    left: 0;
    color: red;
}

.skills-section-container.hidden {
    display: none;
}


/* Projects Section */


.projects-section.show {
    display: block;
}

.projects-section {
    display: none;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project-box {
    text-align: center;
    width: 38rem;
}

.project-box h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.image-container {
    border-radius: 2.5rem;
    cursor: pointer;
    height: 80%;
}

.image-container:hover {
    transform: scale(1.05);
    transition: .2s;
}



.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    filter: grayscale(1);
    border: 2px solid var(--border-color);
}

.image-container img:hover {
    filter: none;
}

@keyframes active-after {
    from {
        width: 0;
    }

    to {
        width: 100px;
    }
}


/* Responsive */

@media (max-width: 1150px) {
    .projects-container__image {
        display: block;
        margin: 1rem auto;
        width: 80%;
    }

    .projects-container__image:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 950px) {
    #menu {
        justify-content: center;

    }

    .project-box {
        margin: 0 auto 2rem auto;
    }
}

@media (max-width: 750px) {
    .mobile-menu {
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    #about-container {
        padding: 0 2rem;
    }

    .skills-box {
        flex: 1 1 50%;
        max-width: 100%;
        margin-bottom: 4rem;
        text-align: left;
    }

    .skills-box i {
        font-size: 5rem;
    }

    .projects-container__image {
        width: 100%;
    }

    .projects-container__image--links a {
        padding: 5%;
        font-size: 1.8rem;
    }
}

@media (max-width:660px) {
    .project-box {
        width: 100%;
        margin: 0 auto 2rem auto;
    }
}

@media (max-width: 630px) {
    .skills-box {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 4rem;
        text-align: left;
    }

    .skills-box i {
        font-size: 6rem;
    }
}

@media (max-width: 550px) {
    #container {
        flex-direction: column;
    }

    #bio-container {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    #bio-container h2 {
        display: none;
    }

    #bio-container p {
        max-width: 60%;
        margin: 1rem auto;
    }

    #about-container {
        text-align: center;
        padding: 1rem 3rem;
    }

    #about-container .description {
        margin: 1rem auto;
        max-width: 100%;
        line-height: 2.6rem;
    }

    #btn-github {
        margin: 2rem auto;
        width: 70%;
    }

    .projects-container__image--links a {
        font-size: 2rem;
    }
}

@media (max-width: 365px) {
    .projects-container__image--links a {
        font-size: 1.6rem;
    }
}