* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

p,
a {
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --intro-gradient-color-veryLightRed: hsl(13, 100%, 72%);
    --intro-gradient-color-lightRed: hsl(353, 100%, 62%);
    --body-gradient-color-darkGrayBlue: hsl(237, 17%, 21%);
    --body-gradient-color-desaturatedBlue: hsl(237, 23%, 32%);

    --headings-color: hsl(208, 49%, 24%);

    --cta-text-color: hsl(356, 100%, 66%);
    --cta-bg-color: hsl(355, 100%, 74%);

    --intro-font-color: hsl(0, 0%, 100%);
    --body-font-color: hsl(207, 13%, 34%);

    --footer-text-color: hsl(240, 2%, 79%);
    --footer-bg-color: hsl(240, 10%, 16%);
}

/* General */

.content-container {
    padding: 0 16rem;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.btn {
    width: 14rem;
    height: 5rem;
    border-radius: 30px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--cta-text-color);
    cursor: pointer;
    transition: .4s;
}

.btn:first-of-type {
    background: transparent;
    color: var(--intro-font-color);
}

/* Menu */

.logo-container img {
    margin-left: 0;
}

#menu {
    display: flex;
    padding: 6rem 16rem;
    align-items: center;
    position: relative;
}

#menu-nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.main-menu-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.desktop-menu-container>ul {
    display: flex;
    margin-left: 6rem;
    gap: 2rem;
}

.desktop-menu-container>ul li {
    position: relative;
}

.desktop-menu-container>ul img {
    margin-left: .5rem;
}

.desktop-menu-container>ul li:hover .desktop-dropdown {
    display: flex;
}

.desktop-menu-container>ul>li>a {
    padding: 2rem 0;
    color: var(--intro-font-color);
}

.desktop-menu-container>ul>li>a:hover {
    text-decoration: underline 2px;
}

.desktop-dropdown {
    display: none;
    position: absolute;
    width: 16.5rem;
    margin: 2rem 0 0 -2rem;
    padding: 3rem 2rem;
    gap: 2rem;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000;
    background: var(--intro-font-color);
}

.desktop-dropdown a {
    color: #000;
}

.desktop-dropdown a:hover {
    font-weight: bold;
}

.desktop-buttons {
    width: 28.5rem;
    margin-left: auto;
}

.btn.desktop-login:hover {
    background: var(--intro-font-color);
    color: var(--cta-text-color);
}

.btn.desktop-signup:hover {
    background: var(--cta-text-color);
    color: var(--intro-font-color);
}

/* Mobile Menu */

#mobile-menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 7%;
    top: 42%;
}

#mobile-menu-icon.active {
    content: url('../images/icon-close.svg');
}

.mobile-menu {
    position: absolute;
    width: 90%;
    left: 5%;
    margin-top: 3rem;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: 200ms;
}

.wrapper.active {
    grid-template-rows: 1fr;
}

.expandable {
    min-height: 0;
    background: var(--intro-font-color);
    border-radius: 5px;
}

.mobile-arrow {
    transition: .2s;
    margin-left: 5px;
}

.expandable>ul li:hover .mobile-arrow {
    transform: rotate(-180deg);
}

.mobile-menu a {
    color: var(--headings-color);
    font-weight: bold;
}

.expandable ul {
    padding: 2rem;
}

.expandable>ul {
    margin-top: 2rem;
}

.expandable>ul>li {
    margin-bottom: 3rem;
}

.mobile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
    background: #dadadaa4;
    border-radius: 5px;
}

.mobile-buttons {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.btn.mobile-login {
    color: var(--headings-color);
}

.btn.mobile-signup,
.btn.mobile-login:hover {
    color: var(--intro-font-color);
    background: linear-gradient(to right, var(--intro-gradient-color-veryLightRed), var(--intro-gradient-color-lightRed));
}

.btn.mobile-signup:hover {
    color: var(--headings-color);
    background: var(--intro-font-color);
}

.dropdown-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: 400ms;
}

.dropdown-expandable {
    min-height: 0;
}

.expandable>ul>li:hover .dropdown-wrapper {
    grid-template-rows: 1fr;
}

/* Intro Section */

#intro {
    background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(to right, var(--intro-gradient-color-veryLightRed), var(--intro-gradient-color-lightRed));
    background-repeat: no-repeat;
    background-position: 25.5% 52%;
    border-radius: 0 0 0 10rem;
    position: relative;
}

.intro-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro-title,
.intro-subtitle {
    font-family: 'Overpass', sans-serif;
    color: var(--intro-font-color);
}

.intro-title {
    margin-top: 7rem;
    font-size: 5.8rem;
}

.intro-subtitle {
    font-weight: 300;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.intro-buttons {
    display: flex;
    margin-bottom: 15rem;
    gap: 1rem;
}

.btn.intro-start {
    background: var(--intro-font-color);
    color: var(--cta-text-color);
}

.intro-start:hover {
    background: var(--cta-bg-color);
    color: var(--intro-font-color);
}

.btn.intro-learn-more {
    background: transparent;
    color: var(--intro-font-color);
    border: 1px solid var(--intro-font-color);
}

.intro-learn-more:hover {
    background: var(--intro-font-color);
    color: var(--cta-text-color);
}

/* Presentation section */

#presentation {
    margin-top: 15rem
}

.section-main-title {
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Overpass', sans-serif;
    color: var(--headings-color);
}

.aside-infos {
    margin-top: 10rem;
}

.topic-title {
    font-size: 2.7rem;
    font-family: 'Overpass', sans-serif;
    color: var(--headings-color);
}

.topic-text {
    color: var(--body-font-color);
    margin-top: 3rem;
    line-height: 2.8rem;
    margin-bottom: 7rem;
    padding-right: 3.5rem;
}

#presentation img {
    margin-top: -14rem;
    transform: translateX(6rem);
}

/* Infrastructure */

#infrastructure {
    width: 100%;
    background: url('../images/bg-pattern-circles.svg') -240px -500px no-repeat, linear-gradient(to right, var(--body-gradient-color-darkGrayBlue), var(--body-gradient-color-desaturatedBlue));
    border-radius: 0 100px 0 100px;
    margin-top: 6rem;
}

.infra-image-container {
    position: relative;
}

.infra-image-container img {
    position: absolute;
    margin-top: -7rem;
    margin-left: -6rem;
}

.aside-infos.infra {
    margin: 10rem 0;
}

.topic-title.infra {
    color: var(--intro-font-color);
    font-size: 3.5rem;
}

.topic-text.infra {
    color: var(--intro-font-color);
    margin-top: 3rem;
    margin-bottom: 0;
    line-height: 3rem;
}

/* About */

#about {
    width: 100%;
    margin-top: 12rem;
}

#about img {
    margin-left: -44rem;
}

.aside-infos.about {
    margin-top: 18rem;
}

/* Footer */

#blog-footer {
    background: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-radius: 0 100px 0 0;
    margin-top: 12rem;
}

.content-container.footer {
    grid-template-columns: 25% 75%;
    padding-top: 7rem;
}

#footer-links {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.links-container {
    margin-bottom: 7rem;
}

.footer-title {
    font-size: 1.7rem;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 3rem;
    color: var(--intro-font-color);
}

.links-container ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.links-container a {
    color: var(--footer-text-color);
    font-family: 'Ubuntu', sans-serif;
}

.links-container a:hover {
    color: var(--intro-font-color);
    text-decoration: underline 2px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}

/* Effects */

.hidden {
    transition: 1s;
    transform: translateX(-40rem);
    filter: blur(2px);
}

.hidden.show {
    transform: translateX(0);
    filter: blur(0);
}

.infra-image-container.hidden {
    transition: .8s;
}

.infra-image-container.hidden,
.infra.hidden {
    transform: translateX(30rem);
}

.infra-image-container.hidden.show,
.infra.hidden.show {
    transform: translateX(0);
    filter: blur(0);
}

@media(prefers-reduced-motion) {

    .hidden,
    #footer-links.hidden,
    .infra-image-container.hidden,
    .infra.hidden {
        transition: none;
        filter: none;
    }

}

/* Responsive */

@media (max-width: 1240px) {

    #presentation .content-container,
    #infrastructure .content-container,
    #about .content-container {
        padding: 0 6rem;
    }
}

@media (max-width: 1095px) {
    body {
        text-align: center;
    }

    #menu {
        padding: 6rem 6rem;
    }

    #mobile-menu-icon {
        display: block;
    }

    .desktop-menu-container,
    .desktop-buttons {
        display: none;
    }

    .content-container {
        padding: 0 2rem;
    }

    #presentation .content-container,
    #infrastructure .content-container,
    #about .content-container {
        grid-template-columns: 100%;
    }

    .aside-infos {
        margin: 4rem 0;
    }

    /* Presentation Section Resposive */

    #presentation img {
        max-width: 100%;
        grid-row: 1;
        margin: 0;
    }

    /* infrastructure Section Resposive */

    #infrastructure {
        margin-top: 20rem;
    }

    #infrastructure img {
        position: relative;
        margin-top: -25rem;
    }

    .aside-infos.infra {
        margin-top: 0;
    }

    /* About Section Resposive */

    #about img {
        margin: 0;
        width: 100%;
    }

    .aside-infos.about {
        margin-top: 4rem;
    }
}

@media (max-width: 560px) {
    #blog-footer {
        margin-top: 0;
    }

    .content-container.footer {
        grid-template-columns: 100%;
    }

    .content-container.footer img {
        margin: auto;
        margin-bottom: 6rem;
    }

    #footer-links {
        grid-template-columns: 100%;
    }

    .topic-text {
        padding: 0 1.5rem;
    }

    #infrastructure img {
        width: 100%;
        margin: -16rem auto 0 auto;
    }
}

@media (max-width:400px) {
    .hidden {
        transform: translateX(-20rem);
    }

    .infra-image-container.hidden,
    .infra.hidden {
        transform: translateX(20rem);
    }
}

@media (max-width: 375px) {
    #menu {
        padding: 4rem 2rem;
    }

    #mobile-menu-icon {
        right: 5%;
    }

    #presentation .content-container,
    #infrastructure .content-container,
    #about .content-container {
        padding: 0 2rem;
    }

    #presentation,
    #about {
        margin-top: 8rem;

    }

    .topic-text {
        padding: 0 1.5rem;
    }

    #intro {
        padding: 0 2rem;
        background-image: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient(to bottom, var(--intro-gradient-color-veryLightRed), var(--intro-gradient-color-lightRed));
        background-repeat: no-repeat;
        background-position: 36% 35%;
        border-radius: 0 0 0 10rem;
    }

    .intro-title {
        margin-top: 6rem;
        font-size: 3.5rem;
    }

    .topic-title {
        padding: 0 2rem;
    }

    #presentation {
        margin-top: 8rem;
    }

    .section-main-title {
        font-size: 2.6rem;
    }

    #presentation img {
        content: url('../images/illustration-editor-mobile.svg');
        transform: none;
        width: 100%;
    }

    #about img {
        content: url('../images/illustration-laptop-mobile.svg');
    }
}

@media (max-width: 310px) {
    #intro {
        padding: 0 1rem;
    }

    .intro-buttons {
        flex-direction: column;
    }
}